body {background-color: #fbfbfe;}

header{background-image: linear-gradient(to right, #68abf8, #ffffff);
		background-repeat: no-repeat;
		color: #ffffff;
		font-family: Acumin Variable Concept;
		padding: 1em;}
		
h1{;}

nav{background-color: #D3D3D3;
	font-family: Verdana;
	padding:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;}
	
nav a:link {color: #000000;}
nav a:visited {color: #000000;}
	
main{background-color: #fbfbfe;}

h2{font-family: Verdana;
	font-size: 25px;
	line-height: 50px;
	padding: 20px;}

h3{font-family: Verdana;
	font-size: 12px;
	line-height: 30px;
	padding-left: 40px;
	padding-right: 40px;}

footer{text-align:center;
	background-color:#D3D3D3;
	padding:1em;
	margin-left:12em;
	margin-right:12em;}

.flex-container {display: flex;
  justify-content: space-between;}

.column1 {flex: 1;
	 padding: 35px;
	 background-color: #f0f0f0;
	 margin-right: 10px;}

.column2 {flex: 0.5;
	padding: 5px;
	background-color: #f0f0f0;}
	
#example {background-image: url(siteplan.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border:10px solid #68c2df; 
		padding:3px; 
		margin-left: 10em;
		margin-right: 10em;
		height: 700px;}
		
#photoofme {background-image: url(me.jpg);
		background-size:100% 100%;
		background-repeat: no-repeat;
		margin-left:4em;
		margin-right:4em;
		height: 400px}

